In [1]:
#Before we use this dataset on SQL, it is good practice for us to check for and remove any null values, outliers and duplicates.

In [2]:
#It is also a good idea to rename the columns, and remove the spaces as SQL will process this better.

In [3]:
#First we should import our library - pandas and then the csv.

In [4]:
import pandas as pd
inpPath = 'C:/Users/jammy/OneDrive/Desktop/'

In [5]:
studentdata = pd.read_csv(inpPath + 'studentattitudeandbehaviour.csv', delimiter=',')

In [6]:
#We should get a look at the data to see the column headings

In [7]:
studentdata.head()

,Certification Course,Gender,Department,Height(CM),Weight(KG),10th Mark,12th Mark,college mark,hobbies,daily studing time,prefer to study in,salary expectation,Do you like your degree?,willingness to pursue a career based on their degree,social medai & video,Travelling Time,Stress Level,Financial Status,part-time job
0,No,Male,BCA,100.0,58.0,79.0,64.0,80.0,Video Games,0 - 30 minute,Morning,40000,No,50%,1.30 - 2 hour,30 - 60 minutes,Bad,Bad,No
1,No,Female,BCA,90.0,40.0,70.0,80.0,70.0,Cinema,30 - 60 minute,Morning,15000,Yes,75%,1 - 1.30 hour,0 - 30 minutes,Bad,Bad,No
2,Yes,Male,BCA,159.0,78.0,71.0,61.0,55.0,Cinema,1 - 2 Hour,Anytime,13000,Yes,50%,More than 2 hour,30 - 60 minutes,Awful,Bad,No
3,Yes,Female,BCA,147.0,20.0,70.0,59.0,58.0,Reading books,1 - 2 Hour,Anytime,1500000,No,50%,1.30 - 2 hour,0 - 30 minutes,Bad,good,No
4,No,Male,BCA,170.0,54.0,40.0,65.0,30.0,Video Games,30 - 60 minute,Morning,50000,Yes,25%,1.30 - 2 hour,30 - 60 minutes,Good,good,No

In [8]:
#Firstly, we should check for any null values

In [9]:
nulldata = studentdata.isnull().sum()
print(nulldata)

Certification Course                                      0
Gender                                                    0
Department                                                0
Height(CM)                                                0
Weight(KG)                                                0
10th Mark                                                 0
12th Mark                                                 0
college mark                                              0
hobbies                                                   0
daily studing time                                        0
prefer to study in                                        0
salary expectation                                        0
Do you like your degree?                                  0
willingness to pursue a career based on their degree      0
social medai & video                                      0
Travelling Time                                           0
Stress Level                                              0
Financial Status                                          0
part-time job                                             0
dtype: int64

In [10]:
#Next, we should check for any duplicates

In [11]:
duplicates = studentdata.duplicated().sum()
print(duplicates)

0

In [12]:
#Next, we can check for any outliers in salary expectations using IQR method, note: I will not be removing these as they won't effect what I'm looking for in SQL, just to showcase how to check

In [13]:
xsalarydata = studentdata['salary expectation']
Q1 = xsalarydata.quantile(0.25)
Q3 = xsalarydata.quantile(0.75)
IQR = Q3 - Q1
outliers = xsalarydata[((xsalarydata < (Q1 - 1.5 * IQR)) | (xsalarydata > (Q3 + 1.5 * IQR)))]
print(outliers)

3      1500000
4        50000
14       60000
40       50000
47      100000
50       50000
59       50000
68       50000
73       50000
94       50000
130      50000
145     100000
154     100000
157      50000
179     120000
181      45000
185     500000
188     700000
200      50000
Name: salary expectation, dtype: int64

In [14]:
#Finally, we should rename the columns in the dataset

In [15]:
studentdata.columns = ['CertificationCourse', 'Gender', 'Department', 'HeightCM', 'WeightKG', '10thMark',
                '12thMark', 'CollegeMark', 'Hobbies', 'DailyStudyTime',
                'PreferredStudyTime', 'ExpectedSalary', 'DoYouLikeYourDegree', 'WillingnessForCareerBasedOnDegree', 
                'DailySocialMediaUse', 'CommuteTime', 'StressLevel', 'FinancialStatus', 'PartTimeJob']

In [16]:
#Let's Check to make sure this worked

In [17]:
studentdata.head()

,CertificationCourse,Gender,Department,HeightCM,WeightKG,10thMark,12thMark,CollegeMark,Hobbies,DailyStudyTime,PreferredStudyTime,ExpectedSalary,DoYouLikeYourDegree,WillingnessForCareerBasedOnDegree,DailySocialMediaUse,CommuteTime,StressLevel,FinancialStatus,PartTimeJob
0,No,Male,BCA,100.0,58.0,79.0,64.0,80.0,Video Games,0 - 30 minute,Morning,40000,No,50%,1.30 - 2 hour,30 - 60 minutes,Bad,Bad,No
1,No,Female,BCA,90.0,40.0,70.0,80.0,70.0,Cinema,30 - 60 minute,Morning,15000,Yes,75%,1 - 1.30 hour,0 - 30 minutes,Bad,Bad,No
2,Yes,Male,BCA,159.0,78.0,71.0,61.0,55.0,Cinema,1 - 2 Hour,Anytime,13000,Yes,50%,More than 2 hour,30 - 60 minutes,Awful,Bad,No
3,Yes,Female,BCA,147.0,20.0,70.0,59.0,58.0,Reading books,1 - 2 Hour,Anytime,1500000,No,50%,1.30 - 2 hour,0 - 30 minutes,Bad,good,No
4,No,Male,BCA,170.0,54.0,40.0,65.0,30.0,Video Games,30 - 60 minute,Morning,50000,Yes,25%,1.30 - 2 hour,30 - 60 minutes,Good,good,No

In [18]:
#Now the dataset is ready for SQL, so we will export it

In [19]:
outPath ='C:/Users/jammy/OneDrive/Desktop/Final Push/MT412 Portfolio/studentattitudeandbehaviour.csv'
studentdata.to_csv(outPath, index=False)

In [20]:
#Next I will rename this cleanedstudentdata.csv